body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color:white;
}
h2{
  color:white;
}
h4{
  color: white;
}
p{
  color:white;
}
span{
  color: white;
}
.btn-all {
  display: inline-block;
  font-size: 13px;
  background: linear-gradient(135deg, #1a1a1a, #333333);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  border: none;
}
.section-heading {
  position: relative;
  text-align: center;
  padding: 1rem 0rem;
}
.section-heading h2{
  color:black;
}
.sticky-top{
  background-color: black;
}
.fixed-top .container .navbar a {
  color:white;
}
.sticky-top .container .navbar .collapse a{
  color: white;
}
.navbar-scrolled {
  background: linear-gradient(135deg, #1a1a1a, #333333);
}
.social-links{
  display: flex;
  justify-content: center;
}
.icons-container{
  display: flex;
}
.icons-container a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%; /* make the container circular */
  border: 1.3px solid #fff;
  margin-left: 0.8rem;
}
.circular-icon {
  font-size: 20px;
  color: #fff;
}
.btn{
  border:2px solid white;
  padding: "10px 20px";
  border-radius: "5px";
  background-color: "transparent";
  color: white;
}
.btn:hover{
  border:2px solid white;
  padding: "10px 20px";
  border-radius: "5px";
  background-color: "transparent";
  color: white;
}
.btn-all {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  border: 1px solid white;
  margin-left: 0.5rem;
}
.btn-all:hover{
  color:white;
  border:1px solid white;
}
.logo{
  font-size: 30px;
}
@media (min-width: 300px) and (max-width: 992px) {
  .icons-container{
    margin: 0.5rem;
  }
}
.header-img{
  width:300px;
  height: 300px;
}
.home{
  background-image:url(../public/img/banner-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1.5rem;
}
.home .container .row .col-12{
  margin-top: 7rem;
}
.home .container .row .float-image img{
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0%{
    transform: translate(-20px);
  }
  50%{
    transform: translate(20px);
  }
  100%{
    transform: translate(-20px);
  }
}
.rowStyle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
}
.tagline{
  background: linear-gradient(to right, #ff00cc, #333399);
  padding: 0.3rem 1.5rem 0.5rem;
  border-radius: 5px;
  border: 1px solid white;
}
.about{
  background: linear-gradient(135deg, #1a1a1a, #333333);
}
.about .container-fluid .col{
  text-align: center;
  border-right: 1px solid rgba(0,0,0.095);
  padding: 3rem;
}
.about .container-fluid .col:nth-of-type(4){
  border-right: 1px solid transparent;
}
.about .container-fluid .about-us .about-icons{
  color:#fff;
  font-size: 25px;
  margin-bottom: 0.5rem;
}

.spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bounce {
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.form-info{

}
.form-info .container{
    padding: 0 3rem 1.5rem;
}
.form-info .card {
    height: 100%;
    border: none;
}
.form-info .card .card-body {
  padding: 3rem 3rem 0.5rem;
}
.form-info .card:has(form) {
  box-shadow: 0px 0px 20px rgba(162, 162, 162, 0.2);
}
.form-info .card:has(form) .form-control {
  font-size: 15px;
  border: none;
  border-bottom: 1px solid grey;
}
.info-icon{
  display: flex;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  align-items: center;
}
.form-info .card:has(.info-icon) {
  background: linear-gradient(135deg, #1a1a1a, #333333);
}
.form-info .card .card-body .info-icon i {
  padding: 0.5rem 0.8rem 0.4rem 0.8rem;
  margin-right: 1rem;
  border-radius: 50%;
  font-size: 13px;
  color: green;
  background-color: white;
}
.form-info .card .card-body .info-icon a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  margin-left: 0.5rem;
}
.our-services{
  background-color:#000000e5;
}
.our-services .container{
  padding:0 5rem 0;
}
.our-services .container .row .card{
  border-bottom:1px solid #000;
  border-top:1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 0%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  background-color: #fff;
  height: 100%;
}
.our-services .container .row .card2{
  border-bottom:1px solid #000;
  border-top:1px solid transparent;
  border-left: 1px solid#000;
  border-right: 1px solid #000;
  border-radius: 0%;
  height: 100%;
}
.our-services .container .row .card .icons{
  display: inline-block;
  padding: 0.5rem 0.8rem;
  font-size: 25px;
  background: white;
  color: #fff;
  border-radius: 10%;;
}
.our-services .container .row .card h4{
  padding:1.5rem 0;
  margin-bottom: 0;
}
.our-services .container .row .our-services-border{
  border-bottom: none;
}
@media (width <= 768px) {
  .our-services .container .row .card{
    border:1px solid #000;
    border-width: 0 0 1px;
  }
}
@media screen and (max-width: 992px) and (min-width: 762px){
  .our-services .container .row .card{
    border: 1px solid #000;
  }
}