body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar .container a{
  color:#fff;
}
.navbar .container .collapse ul li a{
  color:#fff;
}
.social-icons .icons{
  padding: 0.5rem 0.8rem 0.4rem 0.8rem;
  margin-right: 1rem;
  border-radius: 50%;
  font-size: var(--h2-fontsize);
  color: var(--color-primary);
  background-color: white;
}
